body{
    margin: 0;
    padding: 0;
    font-family: 'Monstserrsat', 'sans-serif'
}


nav{
    background-color: rgb(112, 101, 101);
    height: 70%;
    width: 100%;
    display: flex;
    position: fixed;
}

nav ul {
    margin-right: 90%;
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    display: inline;
}

.logo-nav{
    height: 20px;
}